@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Grand+Hotel&family=PT+Serif:wght@400;700&display=swap");

:root {
    --dark-text: #323232;
    --light-text: #cccccc;
}

.title-sampul {
    font-family: "PT Serif", serif;
    color: var(--dark-text);
    font-weight: 700;
}

.frame-foto-sampul {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* overflow: hidden; */
    position: relative;
}

.frame-foto-sampul::after {
    content: "";
    width: 125%;
    height: 125%;
    border-radius: 50%;
    background-image: url("../img/bingkai1.png");
    background-size: cover;
    background-position: center;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(0px 0px 15px rgba(81, 63, 124, 0.9));
    /* background-color: red; */
}

.frame-foto-sampul img {
    z-index: 3;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.bridegroom-name-sampul {
    font-family: "Grand Hotel", cursive;
    font-size: 4rem;
}

.date-wedding-sampul {
    font-family: "Cardo", serif;
}

.column-countdown {
    background-color: rgb(81, 63, 124);
    box-shadow: 6px 6px 10px rgba(111, 83, 148, 0.4);
    width: 120px;
}

.countdown {
    font-family: "Cardo", serif;
    z-index: 10;
}

.countdown .time {
    line-height: 1;
}

.countdown .text-time {
    line-height: 1;
}

.sampul-bunga-kiri {
    position: absolute;
    left: 0;
    bottom: -30px;
}

.sampul-bunga-kanan {
    position: absolute;
    right: 0;
    bottom: -30px;
}

@media screen and (max-width: 500px) {
    .sampul-bunga-kiri,
    .sampul-bunga-kanan {
        width: 30%;
    }

    .sampul-bunga-tengah {
        width: 60%;
    }
}

.sampul-bunga-tengah {
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
}
